// Variables de colores
$color-background: rgba(71, 66, 95, 0.356);
$color-white: white;
$color-dark: #333;
$color-light: #f8f8f8;
$color-green: #4CAF50;
$color-green-hover: #257929;
$color-yellowgreen: yellowgreen;
$color-red: red;
$color-aquamarine: aquamarine;
$color-black: black;

// Variables de tamaño de imágenes
$image-width-small: 100px;
$image-width-medium: 150px;
$image-width-large: 200px;

// Tamaño de botones
$button-padding: 10px 20px;
$button-font-size: 16px;
